/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Audiowide", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html {
  text-align: center;
  background: black;
}

h1 {
  font-size: 3.2rem;
  padding: 10px 0px;
  text-shadow: 1px 1px 5px;
  color: rgb(35, 130, 35);
}

p {
  font-size: 1.6rem;
  min-height: 40px;
  text-shadow: 1px 1px 5px;
  color: rgb(35, 130, 35);
}

.boards {
  display: flex;
}

#player-board,
#computer-board {
  display: flex;
  margin: 30px;
}

.cell {
  border: 1px solid rgb(35, 130, 35);
  width: 36px;
  height: 36px;
  background-color: black;
}

.cell:hover {
  background: rgba(85, 85, 85, 0.6);
}

.miss {
  color: rgb(231, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.ship {
  background: rgb(35, 130, 35);
}

.ship:hover {
  background: rgba(35, 130, 35, 0.75);
}

.hit {
  background: rgb(163, 13, 13);
}

.hit:hover {
  background: rgba(163, 13, 13, 0.75);
}

.hidden {
  display: none;
}

@media (max-width: 900px) {
  .boards {
    display: block;
  }
}